In [1]:
%matplotlib inline

from modsim import *

In [18]:
s_inf = 1.01
init = State(temp=90, steeping = 0)
tea = System(init=init,
                volume=300,
                r=0.01,
                T_env=22,
                t0=0, 
                t_end=30,
                dt=1)

In [19]:
def update(state, system):
    """Update the thermal transfer model.
    
    state: State (temp)
    system: System object
    
    returns: State (temp)
    """
    unpack(system)
    T = state.temp
    T += -r * (T - T_env) * dt
    
    sf = state.steeping
    dsfdt = exp(-1/T)*(sf - s_inf)**2
    sf += dsfdt*dt

    return State(temp=T, steeping = sf)

In [20]:
def run_simulation(system, update_func):
    """Runs a simulation of the system.
    
    Add a TimeFrame to the System: results
    
    system: System object
    update_func: function that updates state
    """
    unpack(system)
    
    frame = TimeFrame(columns=init.index)
    frame.loc[t0] = init
    ts = linrange(t0, t_end-dt, dt)
    
    for t in ts:
        frame.loc[t+dt] = update_func(frame.loc[t], system)
    
    system.results = frame

In [21]:
run_simulation(tea, update)
tea.results

         temp  steeping
0   90.000000  0.000000
1   89.320000  1.008743
2   88.646800  1.008745
3   87.980332  1.008746
4   87.320529  1.008748
5   86.667323  1.008749
6   86.020650  1.008751
7   85.380444  1.008752
8   84.746639  1.008754
9   84.119173  1.008755
10  83.497981  1.008757
11  82.883001  1.008758
12  82.274171  1.008760
13  81.671430  1.008761
14  81.074715  1.008763
15  80.483968  1.008764
16  79.899128  1.008766
17  79.320137  1.008767
18  78.746936  1.008769
19  78.179466  1.008770
20  77.617672  1.008772
21  77.061495  1.008773
22  76.510880  1.008775
23  75.965771  1.008776
24  75.426114  1.008778
25  74.891852  1.008779
26  74.362934  1.008781
27  73.839305  1.008782
28  73.320912  1.008784
29  72.807702  1.008785
30  72.299625  1.008787